<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AUTORIVET_KAOHE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <AUTORIVET_KAOHE.Properties.Settings>
      <setting name="filepath" serializeAs="String">
        <value>\\192.168.3.32\Autorivet\prepare\INFO\</value>
      </setting>
    </AUTORIVET_KAOHE.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  
      </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.7.0" newVersion="6.9.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
  <add name="autorivetEntities" connectionString="metadata=res://*/AUTORIVET_DB.csdl|res://*/AUTORIVET_DB.ssdl|res://*/AUTORIVET_DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=autorivet;user id=autorivet;persistsecurityinfo=True;database=autorivet;password=222222&quot;" providerName="System.Data.EntityClient" />
  <add name="autorivetEntities1" connectionString="metadata=res://*/AUTORIVET_DB.csdl|res://*/AUTORIVET_DB.ssdl|res://*/AUTORIVET_DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=autorivet;user id=autorivet;persistsecurityinfo=True;database=autorivet;password=222222&quot;" providerName="System.Data.EntityClient" />
</connectionStrings></configuration>